<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>alphabets</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: eStartup
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    #features img{
      height: 75px;
  margin-bottom: 30px;
  width: 75px;
  border-radius: 30px 30px 30px 30px;
    }
    .link{
      text-align: center;
    }
  ul {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 0;
  text-align: center;
}

ul li {
  background:gray;
  border-radius: 50px;
  float: left;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  width: 35px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li:hover {
  background:darkgrey;
}


  </style>
</head>

<body >
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <img src="static/images/logoo.png" style="width:50px;height: 50px;">
        <h1>SignEaseHub</h1>
        </div>
        </div>
        </header>
        <!-- ======= Features Section ======= -->
    <section id="features" class="padd-section text-center" style="margin-top: 100px;">

        <div class="container" data-aos="fade-up">
          <div class="section-title text-center">
            <h2>Alphabets.</h2>
            <p class="separator">Here is the tutorial for alphabets...</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
  
            <div class="col-md-6 col-lg-2">
              <div class="feature-block">
                <img src="static/assets/a-z/a.jpeg" alt="img">
                <h4>A</h4>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-2">
              <div class="feature-block">
                <img src="static/assets/a-z/b.jpeg" alt="img">
                <h4>B</h4>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-2">
              <div class="feature-block">
                <img src="static/assets/a-z/c.jpeg" alt="img">
                <h4>C</h4>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-2">
              <div class="feature-block">
                <img src="static/assets/a-z/d.jpeg" alt="img">
                <h4>D</h4>
              </div>
            </div>
  
  
            <div class="col-md-6 col-lg-2">
              <div class="feature-block">
                <img src="static/assets/a-z/e.jpeg" alt="img">
                <h4>E</h4>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-2">
              <div class="feature-block">
                <img src="static/assets/a-z/f.jpeg" alt="img">
                <h4>F</h4>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-2">
              <div class="feature-block">
                <img src="static/assets/a-z/g.jpeg" alt="img">
                <h4>G</h4>
              </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/h.jpeg" alt="img">
                  <h4>H</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/i.jpeg" alt="img">
                  <h4>I</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/j.jpeg" alt="img">
                  <h4>J</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/k.jpeg" alt="img">
                  <h4>K</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/l.jpeg" alt="img">
                  <h4>L</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/m.jpeg" alt="img">
                  <h4>M</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/n.jpeg" alt="img">
                  <h4>N</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/o.jpeg" alt="img">
                  <h4>O</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/p.jpeg" alt="img">
                  <h4>P</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/q.jpeg" alt="img">
                  <h4>Q</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/r.jpeg" alt="img">
                  <h4>R</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/s.jpeg" alt="img">
                  <h4>S</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/t.jpeg" alt="img">
                  <h4>T</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/u.jpeg" alt="img">
                  <h4>U</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/v.jpeg" alt="img">
                  <h4>V</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/w.jpeg" alt="img">
                  <h4>W</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/x.jpeg" alt="img">
                  <h4>X</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/y.jpeg" alt="img">
                  <h4>Y</h4>
                </div>
              </div>
              <div class="col-md-6 col-lg-2">
                <div class="feature-block">
                  <img src="static/assets/a-z/z.jpeg" alt="img">
                  <h4>Z</h4>
                </div>
              </div>
  
          </div>
        </div>
      </section><!-- End Features Section -->
      <div class="link">
      <ul class="list-unstyled">
        <li><a href="/">I</a></li>
        <li><a href="home">H</a></li>
        <li><a href="tutorials">T</a></li>
      </ul>
    </div>
      <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

    </body>
    </html>